body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: transform 0.6s ease-in-out;
}

.container-rigth{
    background-color: rgb(231, 225, 225);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.ghost {
    background-color: transparent;
    border: 1px solid #4CAF50;
    color: #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.ghost:hover {
    background-color: #4CAF50;
    color: white;
}

.hidden {
    display: none;
}