<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cócteles</title>
    <link rel="stylesheet" href="../styles/home.css">
</head>
<body>
    <header>
        <h1>Bienvenido a nuestra página de cócteles</h1>
        <div class="logout-form">
            <button class="logout-button" type="submit" id="logout">Cerrar Sesión</button>
        </div>
    </header>

    <main class="container">
        <section class="cocktail">
            <img src="cocktail.jpg" alt="Mojito">
            <div class="cocktail-info">
                <h2>Nombre del cocktail</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum vitae recusandae eveniet repellat at modi illo corrupti porro architecto quod quos ad eius temporibus soluta, nostrum fuga quia voluptatum.</p>
            </div>
        </section>

    </main>
    <script type="module" src="../scripts/index.js"></script>
</body>
</html>
